{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<fieldset>
<legend>FAITH INFOTECH</legend>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Coursename</th>
        <th>Duration:(in weeks)</th>
        <th>Coursefees</th>
        <th>Status</th>
        <th>Description</th>
        <th>Action</th>
      
    </tr>
    {% for course  in courses %}
        <tr>
            <td> {{course._id}} </td>
            <td>{{course.coursename}}</td>
            <td>{{course.duration}}  </td>
            <td> {{course.coursefees}}</td>
            <td>{{course.status}}</td>
            <td>{{course.description}}</td>
            <td> <a href="{{url_for('modify_course',a=course._id)}}">Modify Course</a></td>

        </tr>
    {% endfor %}
</table>
</fieldset>
<p><a href="{{url_for('add_course')}}">Add Course</a></p>
<p><a href="{{url for ('display_course')}}">Display Course</a></p>
{% endblock %}
