{% extends "base.html" %}
{% block content %}
<fieldset>
        <form  method="post" action="{{ url_for('add_batch') }}">
<legend>Display Batch</legend>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Batch Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Cousre Name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    
    {% for batch in batches %}
   
        <tr>
            <td>{{batch._id}}</td>
            <td>{{batch.batch_name}}</td>
            <td>{{batch.start_date}}</td>
            <td>{{batch.end_date}}</td>
            <td>{{batch.course_name}}</td>
            <td>{{batch.status}}</td>
            <td><a href="{{url_for('modify_batch',a=batch._id)}}">UPDATE</a></td>
            
            
         </tr>
         
    {% endfor %}
</table>
</fieldset>
<p><button  type="submit">ADD BATCH</button></p>

{% endblock %}
         
