{% extends "base.html" %}
{% block content %}
<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
    <legend><h1>Update Resources</h1></legend>
    <p>
    {{form.res_capacity.label}}{{form.res_capacity(size=32,value=resource.res_capacity)}}
    {% for error in form.res_capacity.errors %}
        <span style="color:red">{{error}}</span>
     {% endfor %}
     </p>
    <p>
    {{form.res_status.label}}{{form.res_status(size=32,value=resource.res_status)}}
    {% for error in form.res_status.errors %}
        <span style="color:red">{{error}}</span>
     {% endfor %}
     </p>
    <p>
    {{form.res_rent.label}}{{form.res_rent(size=32,value=resource.res_rent)}}
    {% for error in form.res_rent.errors %}
        <span style="color:red">{{error}}</span>
    {% endfor %}
     </p>
      <p>
    {{form.type_of_use.label}}{{form.type_of_use}}
    {% for error in form.type_of_use.errors %}
        <span style="color:red">{{error}}</span>
    {% endfor %}
     </p>
    <p>{{form.submit()}}</p>
    </fieldset>
    <p><a href="{{url_for('view_resource')}}">Back</a></p>
{% endblock %} 